 <%# Sin el '=' esto ejecuta el comando ruby %>
 <%# Con el '=' esto ejecuta el comando ruby y lo muestra %>
<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
    This is the home page for the
    <a href='http://www.railstutorial.org/'>Ruby on Rails Tutorial</a>
    sample application
</p>
