<form action="/likes" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="like[micropost_id]" value="<%= micropost.id %>">
    <input type="submit" value="Like">
</form>
